.App {
  width: 100%;
  margin: 0;
  align-items: center;
  padding: 0 ;
  box-sizing: border-box;
  
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  /* background-color: #696969;
  border-radius: 20px; */
}

::-webkit-scrollbar:vertical {
  width:10px;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}

